<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>

        <div class="left">
            <ul>
                <li> <a href="#"> Popular recipes</a></li>
                <li><a href="#"> What's new </a></li>
            </ul>
        </div>


        <div class="right">
            <ul>
                <li> <a href="#"> Categories</a></li>
                <li><a href="#"> Meal Ideas</a></li>
            </ul>

        </div>


        <div class="mid">

            <img src="images/chef.png" alt="chef-hat" height="70px" width="70px">
            <p>My Recipes</p>

        </div>

    </header>

    <div class="main">
        <p class="p-content">
            Join our email club <br>
            Sign up now!
        </p>
        <form class="sign-up">
            <input type="email" placeholder="Email address">
            <input type="submit" value="Sign Up">
        </form>
    </div>

    <div class="container">


        <div class="item-left">
            <p><a href="#">Baking</a></p>
        </div>
        <div class="item-mid">
            <p><a href="#">5 Minute Meals</a></p>
        </div>
        <div class="item-right">
            <p><a href="#">Vegan</a></p>
        </div>

    </div>

    <footer>

        <img src="https://cdn-icons-png.flaticon.com/128/2975/2975883.png" height="50px" width="50px">

        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Suggest a recipe</a></li>
            <li><a href="#">Privacy</a></li>

        </ul>
        <p> &copy; 2023 My Recipes. All rights reserved.</p>


    </footer>
</body>

</html>