<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>

        <div class="left">
            <ul>
                <li> <a href="#"> Popular recipes</a></li>
                <li><a href="#"> What's new </a></li>
            </ul>
        </div>


        <div class="right">
            <ul>
                <li> <a href="#"> Categories</a></li>
                <li><a href="#"> Meal Ideas</a></li>
            </ul>

        </div>


        <div class="mid">

            <img src="images/chef.png" alt="chef-hat" height="70px" width="70px">
            <p>My Recipes</p>

        </div>

    </header>

</body>

</html>